@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



body {
  background-color: rgb(177, 4, 4);
  text-align: center;
  color: white;

  
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}

footer>div {
  background-color: red;
}

.nroJugadores {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 1rem;
}

.nroJugadores>div {
  font-family: 'VT323', monospace;
}

.inputNroJugadores {
  color: red;
  text-align: center;
  border: 2px rgb(255, 2, 2) solid;
  box-shadow: 0px 0px 10px rgb(230, 77, 77);
  width: 5rem;
}

input:focus {
  outline: none;
}

.jugadores {
  font-family: 'VT323', monospace;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.inputJugador {
  font-family: 'VT323', monospace;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(177, 4, 4);
}

.botonPlay {
  display: none;
  width: 4.8rem;
  height: 60px;
  background: #ff0000;
  position: relative;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  margin-bottom: 3rem;
}

.botonPlay::before {
  font-family: 'FontAwesome';
  content: "\f04b";
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}

.botonPlay:hover::before {
  top: -30px;
}

.botonPlay::after {

  content: 'JUGAR';
  color: white;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .5s ease-in-out;
}

.botonPlay:hover::after {
  top: 50%;
}

.botonPlay2 {
  display: none;
  width: 4.8rem;
  height: 60px;
  background: #ff0000;
  position: relative;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: auto;
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  transform: scale(1);

}

.jugadorQueEmpieza {
  font-family: 'VT323', monospace;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  margin-bottom: 1rem;
  /* Define el tama침o inicial */
  transform: scale(0);
  /* Define la duraci칩n de la transici칩n */
  transition: transform 1s;
}


.jugadorQueEmpieza.mostrar {
  /* Define el tama침o final */
  transform: scale(1);
}




#pregunta-container {
  text-align: center;
  margin-top: 50px;
}

#opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.opcion {
  width: 30rem;
  height: 3rem;
  display: block;
  margin-bottom: 1rem;
  padding: 10px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
}

.opcion:focus {
  outline: none;

  box-shadow: 0px 0px 10px 4px white;

}

#resultado-container {
  display: none;
  text-align: center;

}

#btn-continuar {
  width: 30rem;
  height: 3rem;
  color: white;
  border: solid white 2px;
  background-color: red;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

#resultado-texto {
  font-weight: bold;
}

.textoPregunta {
  font-size: 3rem;
  
}

.fondoAzul {
  background-color: blue;
}

.fondoRojo {
  background-color: red;
}

.fondoVerde {
  background-color: green;
}

.fondoAmarillo {
  background-color: rgb(201, 201, 13);
}

.fondoRosa {
  background-color: rgb(255, 0, 242);
}

.fondoNegro {
  background-color: black;
}

.pregunta1 {
  font-family: 'VT323', monospace;
  display: none;
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translateX(-50%);
  transition: left 0.5s ease;

}