@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



body {
    background-color: rgb(177, 4, 4);
    text-align: center;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer>div {
    background-color: red;
}

.nroJugadores {
    font-family: 'VT323', monospace;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
    margin-bottom: 2rem;
}

.nroJugadores>div {
    font-family: 'VT323', monospace;
}

.inputNroJugadores {
    color: red;
    text-align: center;
    border: 2px rgb(255, 2, 2) solid;
    box-shadow: 0px 0px 10px rgb(230, 77, 77);
    width: 5rem;
}

input:focus {
    outline: none;
  }

  .jugadores{
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    margin-bottom: 10rem;
  }

.inputJugador {
    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(177, 4, 4);
}

.botonPlay {
    width: 4.8rem;
    height: 60px;
    background: #ff0000;
    position: relative;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
  }
  
  .botonPlay::before{
    font-family: 'FontAwesome';
    content: "\f04b";
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left:53%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
  }
  
  .botonPlay:hover::before{
    top: -30px;
  }
  
  .botonPlay::after {
    content: 'JUGAR';
    color: white;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    position: absolute;
    top: 150%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
  }
  
  .botonPlay:hover::after {
    top: 50%;
  }
    
  .botonPlay2 {
    display: none;
    width: 4.8rem;
    height: 60px;
    background: #ff0000;
    position: relative;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    transform: scale(1);
    
  }